body {
    background-color: #A80000;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjKzPT7AnWGe8qFaCZQdFmzWPHY_BUERi8gQ&s");
    /*background-repeat: repeat-y;*/
    /*background-repeat: repeat-x;*/
    background-repeat: no-repeat;
    background-position: 10px 50px;
    background-attachment: fixed;
}

h1 {
    background-color: #C000A0;
}

p {
    background-color: #00F0AF;
    text-transform: capitalize;
    text-decoration: overline;
    text-indent: 100px;
    letter-spacing: 5px;
    line-height: 25px;
    direction: rtl;
    word-spacing: 10px;
}

.center {
    text-align: center;
}

.under {
    text-decoration: underline;
}